.chat_page {
  .message_list {
    ul {
      text-decoration: none;
      list-style-type: none;
      .message {
        border-radius: 3vw;
        border-color: $base-color;
        padding: 2vw;
        width: 50%;
        margin: 1vw;
      }
      .sent {
        background-color: $accent-diluded;
      }
      .received {
        background-color: $secondary-diluded;
      }
    }
  }
  input {
    border-radius: 3vw;
    width: 40%;
    margin: 1vw;
    padding: 2vw;
    border-style: solid $base-color;
  }
  .send_button {
    height: 4vw;
    width: 4vw;
    background: url("./../login.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}
