.chat_page {
  margin: auto;
  margin-top: 4vw;
  width: 40%;
  .chat_top{
    display: flex;
    flex-direction: row;
  }
  h4 {
    font-size: 2.2vw;
  }

  ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    li {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      justify-content: center;
      font-size: 1vw;
      .message_sent {
        justify-self: flex-end;
        border-radius: 3vw;
        margin: 0;
        padding: 2vw;
        width: 50%;
        margin-bottom: 2vw;
        background-color: $accent-diluded;
      }
      .message_received {
        justify-self: flex-start;
        border-radius: 3vw;
        margin: 0;
        padding: 2vw;
        width: 50%;
        margin-bottom: 2vw;
        background-color: $secondary-diluded;
      }
    }
  }
  .writing_zone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    input {
      width: 95%;
      height: 3vw;
      margin: 2vw;
      padding: 0.05vw;
      border-radius: 3vw;
    }
    .send_button {
      height: 3vw;
      width: 3vw;

      background: url("./../send.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
    }
  }
}
