.login_button {
  position: absolute;
  z-index: 10;
  top: 4vw;
  right: 5vw !important;
  height: 2vw;
  width: 2vw;
  background: url("./../login.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.top_section {
  top: 4vw;
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .top_link {
    height: 2vw;
    width: 2vw;
    margin: 0 5vw;
  }

  .logout_button {
    background: url("./../logout.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  .chat_section_button {
    background: url("./../CHAT1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  .map_button {
    background: url("./../MAP2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}
