$font: "Montserrat", sans-serif;
$base-color: #545454;
$accent-color: #6229d0;
$accent-diluded: #baa7de;
$secondary-color: #efc638;
$secondary-diluded: #f9e8af;
$background-color: #ffff;
$boxRadius: 20vw;
$standardMargin: 4vw;
$insideContainerSize: 100%;
