body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  color: #545454;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
}

body .search {
  position: absolute;
  top: 4vw;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  max-width: 1000px;
  z-index: 10;
}

body .search .combobox .inputcombobox {
  position: absolute;
  padding: 1vh;
  padding-left: 2vh;
  font-size: 2.2vh;
  width: 100%;
  border-width: 0;
  border-radius: 4vh;
  z-index: 10;
}

body .search .combobox .pop_over {
  position: absolute;
  top: 1vh;
  left: -0.2vh;
  z-index: 3;
  width: 100%;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  font-size: 1.8vh;
  padding: 1vh;
  padding-top: 3.2vh;
  padding-bottom: 0.5vh;
}

body .search .combobox .pop_over .pop_over_suggestion {
  padding: 1vh;
}

body .infoMarker {
  padding-top: 0;
  padding: 3vh;
  font-size: 1.8vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .infoMarker button {
  background-color: #6229d0;
  padding: 1vh;
  width: 60%;
  margin: auto;
  border-color: #6229d0;
  border-radius: 5vh;
  font-size: 1.8vh;
  color: white;
}

body .infoMarker h2 {
  margin: 0;
}

body .infoMarker p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

body .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

body .modal-area {
  position: fixed;
  top: 30%;
  left: 10%;
  z-index: 15;
  width: 80%;
  height: auto;
  border-radius: 2vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

body .modal-area form {
  width: 80%;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .modal-area form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vh;
  font-weight: normal;
  font-size: 2.4vh;
}

body .modal-area form .form-group .form-control {
  border-radius: 20vw;
  border-color: #545454;
  border-width: 0.001vw;
  width: 50%;
  font-weight: normal;
  color: #545454;
  padding-left: 1.5vw;
}

body .modal-area form .form-group .form-control .dropdown-control {
  width: 50%;
}

body .modal-area form .bottom {
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

body .modal-area form .bottom .submitButton {
  background-color: #6229d0;
  padding: 1vh;
  width: 60%;
  margin: auto;
  border-color: #6229d0;
  border-radius: 5vh;
  font-size: 2vh;
  color: white;
}

body .modal-area form .bottom .cancel {
  font-size: 2vh;
  text-align: center;
  font-weight: bold;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: white;
  color: #545454;
}
/*# sourceMappingURL=styles.css.map */