.login_button {
  position: absolute;
  z-index: 10;
  top: 4vw;
  right: 5vw !important;
  height: 2vw;
  width: 2vw;
  background: url("./../login.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.top_section {
  top: 4vw;
  position: absolute;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_section .top_link {
  height: 2vw;
  width: 2vw;
  margin: 0 5vw;
}

.top_section .logout_button {
  background: url("./../logout.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.top_section .chat_section_button {
  background: url("./../CHAT1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.top_section .map_button {
  background: url("./../MAP2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.infoMarker {
  padding-top: 0;
  padding: 3vh;
  font-size: 1.8vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.infoMarker button {
  background-color: #6229d0;
  padding: 1vh;
  width: 60%;
  margin: auto;
  border-color: #6229d0;
  border-radius: 5vh;
  font-size: 1.8vh;
  color: white;
}

.infoMarker h2 {
  margin: 0;
}

.infoMarker p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.chat_section {
  margin: auto;
  margin-top: 10vw;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat_section .chat_list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat_section .chat_list .chat_item {
  border-top: 0.2vw solid #545454;
  border-bottom: 0.2vw solid #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vw;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chat_section .chat_list .chat_item .chat_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  color: #545454;
}

.chat_section .chat_list .chat_item .chat_preview h4 {
  margin: 0;
  padding: 1vw;
  font-size: 1.8vw;
  font-weight: 400;
}

.chat_section .chat_list .chat_item .chat_preview label {
  margin: 0;
  padding: 1vw;
  font-size: 0.8vw;
  font-weight: 100;
}

.chat_section .chat_list .chat_item .chat_item_img {
  width: 3vw;
  height: 3vw;
}

.chat_section .chatView {
  width: 60%;
}

.chat_page {
  margin: auto;
  margin-top: 4vw;
  width: 40%;
}

.chat_page h4 {
  font-size: 2.2vw;
}

.chat_page ul {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.chat_page ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1vw;
}

.chat_page ul li .message_sent {
  justify-self: flex-end;
  border-radius: 3vw;
  margin: 0;
  padding: 2vw;
  width: 50%;
  margin-bottom: 2vw;
  background-color: #baa7de;
}

.chat_page ul li .message_received {
  justify-self: flex-start;
  border-radius: 3vw;
  margin: 0;
  padding: 2vw;
  width: 50%;
  margin-bottom: 2vw;
  background-color: #f9e8af;
}

.chat_page .writing_zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

.chat_page .writing_zone input {
  width: 95%;
  height: 3vw;
  margin: 2vw;
  padding: 0.05vw;
  border-radius: 3vw;
}

.chat_page .writing_zone .send_button {
  height: 3vw;
  width: 3vw;
  background: url("./../send.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 15;
  width: 30%;
  height: auto;
  border-radius: 2vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.modal-area form {
  width: 80%;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal-area form .datepicker_row label {
  width: 50% !important;
}

.modal-area form .datepicker_row .datetime {
  width: 90% !important;
}

.modal-area form .datepicker_row .rdtPicker {
  width: 150% !important;
  border-radius: 1.5vw !important;
  padding: 1.5vw;
}

.modal-area form .datepicker_row .rdtPicker .rdtDays {
  width: 100% !important;
}

.modal-area form .datepicker_row .rdtPicker .rdtDays table {
  width: 100% !important;
}

.modal-area form .datepicker_row .rdtPicker .rdtDays table .rdtSwitch {
  padding-bottom: 1vw;
}

.modal-area form .datepicker_row .rdtPicker .rdtDays table .rdtTimeToggle {
  display: none;
}

.modal-area .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vw;
  font-weight: normal;
  font-size: 1.2vw;
}

.modal-area .form-group label {
  width: 60%;
}

.modal-area .form-group .form-control {
  border-radius: 20vw;
  border-color: #545454;
  border-width: 0.00001vw;
  width: 40%;
  font-weight: normal;
  color: #545454;
  padding-left: 1.2vw;
  font-size: 1.2vw;
}

.modal-area .form-group .form-control select {
  width: 100%;
}

.modal-area .form-group .form-control select option {
  font-size: 1.2vw;
}

.modal-area .cancel {
  position: absolute;
  top: 0.8vw;
  right: 1.1vw;
  width: 1vw;
  font-size: 1vw;
  text-align: center;
  background-color: white;
  color: #545454;
  border: #ffff;
}

.modal-area .submitButton {
  background-color: #6229d0;
  padding: 0.2vw;
  padding-bottom: 0.4vw;
  border-color: #6229d0;
  border-radius: 2vh;
  font-size: 1.2vw;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  color: #545454;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
}

body .search {
  position: absolute;
  top: 4vw;
  right: 10vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  max-width: 1000px;
  z-index: 10;
}

body .search .combobox .inputcombobox {
  position: absolute;
  padding: 1vh;
  font-size: 1vw;
  width: 100%;
  border-width: 0;
  border-radius: 4vh;
  z-index: 10;
}

body .search .combobox .pop_over {
  position: absolute;
  top: 1vh;
  left: -0.2vh;
  z-index: 3;
  width: 100%;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  font-size: 0.9vw;
  padding: 1vh;
  padding-top: 3.2vh;
  padding-bottom: 0.2vh;
}
/*# sourceMappingURL=styles.css.map */