@import "./variables";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  #root {
    padding: 0;
    margin: 0;
  }
}
.topSection {
  margin-top: 5rem;
  position: relative;
  z-index: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 40rem;
}
.alone {
  width: 80%;
  object-fit: cover;
  z-index: 1;
}
.shape {
  width: 60%;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.diamond {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #d4d4d4;
  width: 40vw;
  height: 40vw;
  transform: translateX(-50%) translateY(15vw) rotate(45deg);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.textInsideDiamond {
  width: 90%;
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.circleNumber {
  background-color: #aaaaaa;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.community {
  width: 100%;
  aspect-ratio: 1;
  margin: 0 auto;
  object-fit: cover;
  // animation: donut-rotate 1500ms linear infinite;
}
.bottomShape {
  width: 75%;
  z-index: -1;
  position: absolute;
  left: 20%;
  top: -15%;
  transform: rotate(-80deg);
  // animation: clockwise 1500ms  linear infinite;
}
.bottomImages {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 3000px) {
  .topSection {
    margin-bottom: 70rem;
  }
}
@media (max-width: 1000px) {
  .topSection {
    margin-bottom: 30rem;
  }
}
@media (max-width: 720px) {
  .topSection {
    margin-bottom: 25rem;
  }
  .community {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 600px) {
  .alone {
    width: 100%;
  }

  .shape {
    width: 80%;
    top: -8vw;
  }

  .diamond {
    width: 240px;
    height: 240px;
    margin: 0;
  }
  .community {
    width: 340px;
    height: 340px;
  }
  .textInsideDiamond {
    gap: 1vh;
  }
}
@media (max-width: 350px) {
  .diamond {
    width: 190px;
    height: 190px;
  }
}
@media (min-height: 1000px) and(max-width: 1000px) {
  .community {
    width: 30rem;
    height: 30rem;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 125%;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 190%;
  }
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-140deg);
  }

  100% {
    transform: rotate(0);
  }
}
